.p1 {
	height:300px!important;
}/* CSS Document */
P {
	
    text-shadow: 2px 2px 4px #000000;
}
h5 {
	
    text-shadow: 2px 2px 4px #000000;
	
}
.p1 {
	color: black!important;
	text-shadow: 2px 2px 4px white;
	
}